.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  margin: 0px;
  padding: 0px;
  background-color: hsl(233, 47%, 7%);
}

.content-box {
  background-color: hsl(244, 38%, 16%);
  margin: 10px 10px 10px 10px;
  display: flex;
  border-radius: 5px;
}

header {
  color: hsl(0, 0%, 100%);
  font-size: ;
}

main {
  color: hsla(0, 0%, 100%, 0.75);
}

.stats {
  color: hsla(0, 0%, 100%, 0.6);
}
